* { margin: 0; padding: 0;}
li { list-style: none; }
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

#wrapper {
    /* border: 1px solid red; */
    background-color: #444;
    position: relative;
    background-image: url(../img/bg_grid.gif);
}

.limg {
    width: 300px !important;
}
.limg img {
    width: 180px;
    padding: 15px 80px;
}
.limg > a {
    width: 300px;
    height: 100px;
}
.mainmenu {
    /* border: 1px solid lightgreen; */
    background-color:#333;
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 2;
}
.mainmenu > li {
    float: left;
    width: 80px;
    margin-right: 140px;
}
.mainmenu > li > a {
    font-size: 23px;
    font-weight: bold;
    color: lightgrey;
    line-height: 100px;
    text-decoration: none;
}
.mainmenu > li ul {
    position: absolute;
    z-index: 1;
    width: 110px;
    padding: 4px;
    opacity: 0;
    visibility: hidden;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background: transparent;
    overflow: hidden;
    transform-origin: 50% 0%;
    color: #333;
}
.mainmenu > li:hover ul {
    padding: 15px;
    background: #777;
    opacity: 1;
    visibility: visible;
    box-shadow: 1px 1px 7px rgba(0,0,0,.5);
    animation-name: swingdown;
    animation-duration: 1s;
    animation-timing-function: ease;
    line-height: 25px;
}
.mainmenu ul > li a {
    width: 110px;
    color: gainsboro;
    text-decoration: none;
}
.mainmenu ul li:hover {
    border-bottom: 2px solid orangered;
    padding: 0 15px;
}
/********/
@keyframes swingdown {
    0% {
        opacity: .99999;
        transform: rotateX(90deg);
    }

    30% {           
        transform: rotateX(-20deg) rotateY(5deg);
        animation-timing-function: ease-in-out;
    }

    65% {
        transform: rotateX(20deg) rotateY(-3deg);
        animation-timing-function: ease-in-out;
    }

    100% {
        transform: rotateX(0);
        animation-timing-function: ease-in-out;
    }
}
/********/
.login img {
    padding: 17px 70px;
}

.container {
    /* border: 1px solid yellow; */
    margin: 0 auto;
    clear: both;
    padding: 150px 40px 40px 40px;
    width: 1400px;
    position: relative;
}
.container article {
    width: 1270px;
    margin: 0 auto;
    position: relative;
}
 .mimg img {
    width: 400px;
    height: 660px;
    border-radius: 20px;
    box-shadow: 11px 11px 10px #333;
}
.mimg {
    float: left;
    margin: 0px 10px 10px 0px;
    height: 660px;
    position: relative;
}
.images {
    /* border: 1px solid orangered; */
    width: 1300px;
}
.images > div {
    display: grid;
    float: left;
    position: relative;
    width: 400px;
    height: 300px;
    font-size: 0px;
}
.spring, .summer {
    margin: 0px 0px 30px 30px;
}
.fall, .winter {
    margin: 30px 0px 0px 30px;
}
.imgs img {
    width: 400px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 11px 11px 10px #333;
}
.textbox {
    background: -webkit-linear-gradient(top,rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.7) 100%);
    position: absolute;
    width: 380px;
    height: 50px;
    line-height: 15px;
    padding: 20px 10px;
}
.textbox a {
    all: unset;
}
.mtext {
    top: 550px;
    height: 70px;
    font-size: 17px;
    font-weight: 600;
    border-radius: 20px;
}
.mtext p {
    margin: 10px 0px;
}
.text {
    top: 210px;
    color: gainsboro;
    font-size: 17px;
    border-radius: 20px;
}

.contents {
    clear: both;
    padding-top: 40px;
    display: flex;
    position: relative;
}
.contents img {
    width: 800px;
    height: 550px;
}
.contents li {
    /* border: 1px solid green; */
    width: 800px;
    height: 550px;
    position: relative;
    padding-bottom: 50px;
}
#art {
    position: absolute;
    background: -webkit-linear-gradient(top,rgba(0, 0, 0, 0) -30%, rgba(255, 255, 255, 0.5) 100%);
    width: 560px;
    height: 140px;
    color: #fff;
    top: 350px;
    left: 20px;
    padding: 20px;
    line-height: 25px;
}
#art p {
    font-size: 15px;
    padding-top: 10px;
}
/* 디테일 버튼 */
#art button {
    padding: 5px;
    border-radius: 5%;
    border: 1px solid rosybrown;
    background-color: rosybrown;
    color: #fff;
    cursor: pointer;
    outline: 0;
}
#art button:hover {
    border: 1px solid #fff;
    color: rosybrown;
    background-color: #fff;
}
.side_art {
    width: 500px;
    color: #fff;
}
.side_art dl {
    position: absolute;
    right: 0;
    width: 330px;
    margin: 0 auto;
    text-align: center;
}
.side_art img {
    width: 330px;
    height: 220px;
}
.side_art dt {
    font-weight: bold;
    padding: 10px 0;
}
.side_art dd {
    line-height: 20px;
    font-size: 14px;
    padding: 10px 10px;
}
.side_art button {
    width: 300px;
    height: 50px;
    border: 2px solid royalblue;
    background-color: #222;
    color: #fff;
    margin: 10px 10px 30px 10px;
    cursor: pointer;
    outline: 0;
}

#pagination ul {
    margin: 0;
    padding: 10px;
    list-style-type: none;
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 100px;
}
#pagination i {
    color: #c48b7c;
    padding: 10px;
}
#pagination a {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    padding: 0;
    margin: auto 10px;
    text-align: center;
    position: relative;
    background-color: rgba(290, 170, 170, 0.4);
}
#pagination .selected {
    background-color: #c48b7c;
}
#view {
    width: 1400px;
    padding: 40px;
    margin: 0 auto;
    position: relative;
}
#view h2 {
    padding: 0px 70px 20px;
    display: inline-block;
    color: gainsboro;
}
.buttons {
    position: absolute;
    top: 110px;
    left: 130px;
}
.buttons button:hover {
    color: #000;
    background-color: lightgray;
    border: 1px solid lightgray;
}
.buttons li {
    display: flex;
    float: left;
    width: 270px;
    margin-right: 60px;
}
.buttons button {
    padding: 5px 10px;
    color: #fff;
    background: #000;
    border: 2px solid #000;
    outline: 0;
    font-size: 11px;
    cursor: pointer;
}
.viewimgs {
    width: 1321px;
    margin: 0 auto;
}
.viewlist img {
    width: 270px;
    height: 200px;
    margin-bottom: 15px;
    box-shadow: 10px 7px 3px #111;
    border: 3px solid #222;
    border-radius: 15px;
}
.viewlist {
    width: 1500px;
}
.viewlist > li {
    width: 270px;
    height: 330px;
    float: left;
    padding: 0 30px;
    font-weight: bold;
    line-height: 30px;
}
.viewlist a {
    color: #fff;
    width: 200px;
    text-decoration: none;
}

.footer {
    /* border: 1px solid gray; */
    clear: both;
}
#bottom {
    /* border: 1px solid pink; */
    width: 100%;
    height: 300px;
    padding: 20px 70px;
    background-color:#333;
    position: relative;
    color: gainsboro;
}
#bottom button {
    margin: 10px 0;
    padding: 10px;
    background-color: rosybrown;
    border-radius: 17px;
    border: 1px solid rgb(190, 138, 138);
    border-style: outset;
    cursor: pointer;
    outline: 0;
    color: #fff;
    font-weight: bold;
}
.sns > p {
    width: 200px;
    margin-bottom: 50px;
}
.sns {
    display: inline-block;
    width: 250px;
    height: 250px;
    margin: 0 100px;
    position: absolute;
    left: 100px;
}
.sns i {
    padding: 10px 5px;
}
.person {
    display: inline-block;
    width: 300px;
    height: 230px;
    margin: 0 100px;
    position: absolute;
    left: 670px;
}
.person h2 {
    padding: 0 15px;
}
.person section {
    width: 90px;
    height: 270px;
    float: left;
}
.person a {
    color: rosybrown;
    width: 160px;
}
.person i {
    color: #666;
}
.person img {
    width: 70px;
    height: 70px;
    padding: 10px;
}
.person dl {    position: absolute;
    left: 100px;
    width: 210px;
    height: 320px;
    top: 10px;
}
.person dt {
    margin-top: 23px;
    padding: 17px;
    width: 180px;
}
.news {
    display: inline-block;
    width: 230px;
    height: 180px;
    margin: 0 100px;
    position: absolute;
    right: 290px;
}
.news input {
    width: 240px;
    height: 40px;
    margin: 2px;
}
.news .but {
    margin-top: 7px;
    width: 244px;
    border-radius: 20px;
    border: 1px solid rgb(40, 40, 40);
    background-color: rgb(40, 40, 40);
    color: rosybrown;
    font-weight: bold;
    cursor: pointer;
    outline: 0;
}
.but:hover {
    background-color: #222;
    color: rosybrown;
    font-weight: bold;
}
.search {
    display: inline-block;
    position: absolute;
    right: 380px;
    bottom: 30px;
}
.input .prompt {
    width: 200px;
    height: 40px;
    border: 1px solid #444;
    border-radius: 20px;
    outline: 0;
}
.prompt:hover {
    border: 2px solid #777;
}
.copy {
    background-color: #111;
    height: 40px;
}
.copy address {
    width: 1070px;
    height: 40px;
    line-height: 45px;
    float: left;
    padding: 0 100px;
    color: gainsboro;
}
.copy li, span {
    float: left;
    margin: 10px;
    color: #999;
}
.copy a {
    color: #555;
}
.copy a:hover {
    color: #999;
}

.link-effect {
    font-family: 'Roboto Condensed', sans-serif;
    font-size:40px;
    text-decoration:none;
}