* { margin: 0; padding: 0;}
a { text-decoration: none; display: flex;}
li { list-style: none; }

#wrapper {
    /* border: 1px solid red; */
    background-color: #444;
    position: relative;
}

.mainmenu > .limg img {
    width: 180px;
    padding: 15px 85px;
}
.limg > a {
    width: 240px;
    height: 100px;
}
.mainmenu {
    /* border: 1px solid lightgreen; */
    background-color:#333;
    width: 100%;
    height: 100px;
    position: relative;
}
.mainmenu > li {
    float: left;
}
.mainmenu > li a {
    padding-right: 150px;
    font-size: 23px;
    font-weight: bold;
    color: lightgrey;
    line-height: 100px;
}
.mainmenu > li ul {
    position: absolute;
    bottom: -140px;
    opacity: 1;
    display: none;
    background-color: #666;
    font-weight: 100;
    font-size: 15px;   
    padding: 5px;
    width: 90px;
    height: 130px;
    line-height: 25px;
    z-index: 2;
}
/* .mainmenu > li:hover ul {
    opacity: 1;
} */
.mainmenu ul li:hover {
    border-bottom: 1px solid orangered;
}
.container {
    border: 1px solid yellow;
    margin: 0 auto;
    clear: both;
    padding: 40px;
    width: 1400px;
}
.container article {
    width: 1270px;
    margin: 0 auto;
}
 .mimg img {
    width: 400px;
    height: 660px;
}
.mimg {
    float: left;
    margin: 0px 10px 10px 0px;
    height: 660px;
    position: relative;
}
.images {
    /* border: 1px solid orangered; */
    width: 1300px;
}
.images > div {
    display: grid;
    float: left;
    position: relative;
    width: 400px;
    height: 300px;
    font-size: 0px;
}
.spring, .summer {
    margin: 0px 0px 30px 30px;
}
.fall, .winter {
    margin: 30px 0px 0px 30px;
}
.imgs img {
    width: 400px;
    height: 300px;
}
.textbox {
    background: -webkit-linear-gradient(top,rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.7) 100%);
    position: absolute;
    width: 380px;
    height: 50px;
    line-height: 15px;
    padding: 20px 10px;
}
.mtext {
    top: 580px;
    height: 40px;
    font-size: 17px;
}
.text {
    top: 210px;
    color: #fff;
    font-size: 17px;
}

.contents {
    clear: both;
    padding-top: 40px;
    display: flex;
    position: relative;
}
.contents img {
    width: 700px;
    height: 500px;
}
.contents li {
    /* border: 1px solid green; */
    width: 700px;
    height: 550px;
    position: relative;
    padding-bottom: 50px;
}
#art {
    position: absolute;
    background: -webkit-linear-gradient(top,rgba(0, 0, 0, 0) -30%, rgba(255, 255, 255, 0.7) 100%);
    width: 500px;
    height: 140px;
    color: #fff;
    top: 300px;
    left: 20px;
    padding: 15px;
    line-height: 25px;
}
#art p {
    font-size: 15px;
    padding-top: 10px;
}
/* 디테일 버튼 */
#art button {
    padding: 5px;
    border-radius: 5%;
    border: 1px solid rosybrown;
    background-color: rosybrown;
    color: #fff;
    cursor: pointer;
    outline: 0;
}
#art button:hover {
    border: 1px solid #fff;
    color: rosybrown;
    background-color: #fff;
}
.side_art {
    width: 500px;
    position: relative;
    left: 100px;
    color: #fff;
}
.side_art dl {
    width: 330px;
    margin: 0 auto;
}
.side_art img {
    width: 330px;
    height: 220px;
}
dt {
    font-weight: bold;
}
dd {
    line-height: 20px;
    font-size: 14px;
}
.side_art button {
    width: 300px;
    height: 50px;
    border: 2px solid royalblue;
    background-color: #222;
    color: #fff;
    margin: 20px;
    cursor: pointer;
    outline: 0;
}

#pagination ul {
    margin: 0;
    padding: 10px;
    list-style-type: none;
}
#pagination a {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    padding: 0;
    margin: auto 5px;
    text-align: center;
    position: relative;
    background-color: rgba(46, 204, 113, 0.4);
}
#pagination .selected {
    background-color: #2ecc71;
}
.footer {
    border: 1px solid gray;
}